name: Sync on DOM Cloud
"on":
  workflow_dispatch: {}
  push:
    branches:
      - main
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Invoke deployment hook
        uses: distributhor/workflow-webhook@v3
        env:
          webhook_url: https://my.domcloud.co/api/githubdeploy
          webhook_secret: ${{ secrets.WEBHOOK_SECRET }}
          webhook_auth: ${{ secrets.WEBHOOK_AUTH }}
          data: '{"commands":["git reset --hard HEAD","git pull","composer install --no-dev --optimize-autoloader", "php artisan migrate --force", "npm install","npm run build","php artisan config:clear","php artisan route:clear","php artisan view:clear","php artisan cache:clear","php artisan config:cache", "php artisan route:cache", "php artisan view:cache", "restart"]}'
